.head{
	width:100%;
	height:2.6rem;
	/*padding: 0.24rem 0.24rem  0rem 0.24rem;*/
	background-image: url(../img/timg.png);
	/*box-sizing: border-box;*/
	position: relative;
	/*overflow: hidden;*/
}
.head>.seclect{
	width: 100%;
	height: 0.4rem;
	padding: 0.24rem 0.24rem 0.24rem 0rem;
}
.head>.seclect>a.left{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	float: left;
	line-height: 0.4rem;
}
.head>.seclect>.left>i{
	font-size: 0.4rem;
	color: #fff;
	display: block;
}
.head>.seclect>.right{
	float: right;
}
.head>.seclect>.right>ul{
	height: 0.4rem;
	width:2.4rem ;
	display: flex;
	justify-content: space-between;
	
}
.head>.seclect>.right>ul>li>a,.head>.seclect>.right>ul>li>a>i{
	display: block;
	font-size: 0.4rem;
	color: #fff;
}
.head>.seclect>.right>ul>li{
	width: 0.4rem;
	height: 0.4rem;
}
.imgbox{
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	/*left: 0.24rem;*/
	top: 1.02rem;
	padding: 0rem 0.24rem;
}
.imgbox>.img-left{
	width:1.68rem;
	height:1.68rem;
	box-shadow: 0rem 0.03rem 0.24rem 0.03rem rgba(58, 57, 58, 0.7);
}
.imgbox>.img-left>img{
	width: 100%;
	height: 100%;
}
.imgbox>.img-right{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-left:0.24rem ;
}
.imgbox>.img-right>h2{
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	margin-bottom: 0.2rem;
	font-size: 0.4rem;
}
.imgbox>.img-right>span{
	display: block;
	width: 100%;
	height: 0.28rem;
	font-size: 0.26rem;
	margin-bottom: 0.24rem;
}
.imgbox>.img-right>span>img{
	width: 1.16rem;
	height: 0.28rem;
}
.tu{
	margin-top: 0.24rem;
	width: 100%;
	height:0.5rem;
	padding: 0 0.24rem;
}
.tutu,a{
	/*display: block;*/
	width: 100%;
	height: 0.5rem;
	position: relative;
}
.tutu>a>img{
	position: absolute;
	left: 0;
	top: 0;
}
.yin>img{
	z-index: 2;
}
.xian>img{
	/*display: none;*/
}
.yin>img:hover{
	display:none;
}
.huodong{
	width: 100%;
	height: 0.24rem;
	padding: 0 0.24rem;
	margin-top:0.4rem;
}
.limian{
	width: 100%;
	height: 0.24rem;
	/*background: #EDB316;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.limian>.left{
	height: 0.24rem;
	width: 3rem;
	display: flex;
	justify-content: space-between;
	line-height: 0.24rem;
	align-items: center;
}
.limian>.left>.jian{
	font-size: 0.22rem;
	width: 0.24rem;
	height: 0.24rem;
	background: #fc5832;
	line-height: 0.24rem;
	color: #FFFFFF;
}
.limian>.left>span{
	display: block;
	color: #000000;
	width: 2.6rem;
	height: 0.2rem;	
	font-size: 0.2rem;
}
.limian>.right{
	height: 0.24rem;
	width:1.1rem;
	display: flex;
	justify-content: space-between;
}
.limian>.right>.rr{
	width: 1rem;
	height: 0.24rem;
	font-size: 0.18rem;
	line-height: 0.24rem;
}
.limian>.right>i{
	font-size: 0.18rem;
	display: block;
	width: 0.18rem;
	height: 0.24rem;
	line-height: 0.24rem;
}



.dian{
	width: 100%;
	height: 0.54rem;
	margin-top: 0.48rem;
	border-bottom: 0.01rem solid silver;
}
.dian>.dianu{
	width: 100%;
	heigh:0.54rem;
	text-align: center;
}
.dian>.dianu>li{
	width: 33%;
	height: 0.54rem;
	float: left;
}
.dian>.dianu>li>a{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 0.26rem;
	color: #000000;
	opacity: 0.8;
}
.dian>.dianu>li>a.hot{
	color: #EDB316;
}



.foot{
	width: 100%;
	height: 1.42rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 22;
	/*padding: 0rem 0.24rem;*/
}
.foot>.top{
	width:100%;
	height:0.44rem;
	background:  #fbe19c;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.44rem;
	
}
.foot>.bottom{
	width: 100%;
	height: 0.98rem;
	background-color: #020202;
	display: flex;
	justify-content: space-between;
	padding: 0rem 0.24rem;
}
.foot>.bottom>.bottom-left{
	width: 1.16rem;
	height:1.16rem;
	margin-top: -0.36rem;
}
.foot>.bottom>.bottom-left>a{
	width: 100%;
	display: block;
	height: 100%;
}
.foot>.bottom>.bottom-left>a>i{
	font-size: 1.16rem;
	color:  #807f83;
}
.foot>.bottom>.bottom-right{
	width:5.5rem;
	height: 0.98rem;
	display: flex;
	justify-content: space-between; 
}
.foot>.bottom>.bottom-right>.left{
	/*width: 1.5rem;*/
	height: 0.2rem;
	margin-top: 0.35rem;
	font-size: 0.2rem;
	color: #FFFFFF;
}
.foot>.bottom>.bottom-right>.right{
	/*width: 1rem;*/
	height: 0.2rem;
	margin-top: 0.35rem;
	font-size: 0.2rem;
	color: #FFFFFF;
}



.list{
	width: 100%;
	padding: 0rem 0.24rem;
}
.list>.listcen{
	width: 100%;
	height:6.85rem;
	overflow-y:auto;
	display: flex;
	justify-content: space-between;
}
.list>.listcen>.listcen-left{
	width:1.4rem;
	height: 6.85rem;
	overflow: auto;
	margin-right: 0.24rem;
}
.list>.listcen>.listcen-left::-webkit-scrollbar{
	display: none;
}
.list>.listcen>.listcen-left>ul{
	width: 100%;
}
.list>.listcen>.listcen-left>ul>li{
	width: 1.4rem;
	height: 0.73rem;
	background:  #edece9;
	text-align: center;
}
.list>.listcen>.listcen-left>ul>li>a{
	width: 100%;
	display: block;
	height: 100%;
	line-height: 0.73rem;
	font-size: 0.22rem;
	color: #010101;
}
.listcen>.listcen-right{
	flex: 1;
	width: 100%;
	height:6.85rem;
	overflow: auto;
	margin-bottom: 0.3rem;
	/*overflow-x: hidden;*/
	/*display: flex;*/
	/*justify-content:space-between;*/
	/*display: inline-block;*/
}
.listcen>.listcen-right::-webkit-scrollbar{
	display: none;
}
.listcen>.listcen-right>.one{
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*overflow: hidden;*/
}
.listcen>.listcen-right>.one>.listcen-right-left{
	width: 1.42rem;
}
.listcen>.listcen-right>.one>.listcen-right-left>a{
	width: 100%;
	display: block;
	height: 100%;
}
.listcen>.listcen-right>.one>.listcen-right-left>a>img{
	width: 1.42rem;
	height: 1.42rem;
}
.listcen>.listcen-right>.one>.listcen-right-right{
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.listcen>.listcen-right>.one>.listcen-right-right>h3{
	width: 100%;
	height: 0.27rem;
	line-height: 0.27rem;
	font-size: 0.26rem;
	color: #050505;
	margin-bottom: 0.3rem;
}
.listcen>.listcen-right>.one>.listcen-right-right>span{
	display: block;
	width: 100%;
	height: 0.18rem;
	line-height: 0.18rem;
	font-size: 0.18rem;
	margin-bottom: 0.27rem;
	color: #727070;
}
.listcen>.listcen-right>.one>.listcen-right-right>a{
	width: 100%;
	height: 0.18rem;
	line-height: 0.18rem;
	font-size: 0.18rem;
	color: #727070;
	margin-bottom: 0.13rem;
}
.listcen>.listcen-right>.one>.listcen-right-right>.jia{
	width: 100%;
	height: 0.22rem;
	line-height: 0.22rem;
	color: #Fc0505;
	font-size: 0.22rem;
}
.listcen>.listcen-right>.one>.listcen-right-right>.jiajian{
	position: absolute;
	right: 0;
	top:0.6rem;
	width: 2rem;
	height: 0.44rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.listcen>.listcen-right>.one>.listcen-right-right>.jiajian>a{
	display: block;width: 100%;
	height: 100%;
}
.listcen>.listcen-right>.one>.listcen-right-right>.jiajian>a>img{
	width: 0.44rem;
	height: 0.44rem;
}
.listcen>.listcen-right>.one>.listcen-right-right>.jiajian>a>span{
	width: 1rem;
	text-align: center;
	height: 0.44rem;
	line-height:0.44rem;
	display: block;
}
/*.listcen>.listcen-right>.listcen-right-right>.jiajian>a.hot{*/
	/*display: n;*/
	/*}*/