.head{
	width:100%;
	height: 1.42rem;
	background-image:linear-gradient(0deg, #f6ad20 ,#edb316);
	position:relative;
}
.posi{
	width: 100%;
	height: 0.38rem;
	/*background-color:red;*/
	margin-bottom: 0.27rem;
}
.left{
	width: 1.8rem;
	height: 0.38rem;
	line-height: 0.38rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	color: #553905;
	float: left;
}
.left i{
	width: 0.3rem;
	height: 0.3rem;
	font-size: 0.3rem;
	line-height: 0.3rem;
}
.right{
	float: right;
	width: 0.8rem;
	height: 0.38rem;
}
.right .zuo{
	width: 0.42rem;
	height: 0.38rem;
	float: left;
}
.right .qing {
	width: 0.14rem;
	height: 0.16rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.16rem;
	font-weight: normal;
	font-stretch: normal;
	color: #020202;
	text-align: center;
	margin: 0 auto;
	line-height: 0.16rem;
	margin-bottom: 0.02rem;
}.right .sheshi{
	width: 0.42rem;
	height: 0.2rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.2rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
	text-align: center;
	line-height: 0.2rem;
}
.right>i{
	float: right;
	width: 0.3rem;
	height: 0.3rem;
	font-size: 0.38rem;
	line-height: 0.38rem;
}
.sou{
	width: 100%;
	height: 0.36rem;
	background-color: #fff;
	border-radius: 0.06rem;
	line-height: 0.36rem;
}
.sou>a{
	float: left;
	display: block;
}
.sou>a>i{
	/*float: left;*/
	display: block;
	font-size: 0.22rem;
	margin:0rem 0.05rem ;
}
input{
	float: left;
	border: none;
	/*background-color: red;*/
	height: 0.36rem;
	width: 6rem;
}
.con{
	width:100%;
	height: 1.02rem;
	position: absolute;
	top: 0;
	margin: auto;
	bottom: 0;
	padding: 0rem 0.24rem;
}
.ban{
	width:100%;
	height: 4rem;
	margin: 0.24rem auto;
	position: relative;
	/*padding:0.24rem;*/
}
.ban>.imgbox,.ban>.imgbox>li{
	padding: 0rem 0.24rem;
}
.ban>.imgbox,.ban>.imgbox>li,.ban>.imgbox>li>a,.ban>.imgbox>li>a>img{
	width: 100%;
	height: 100%;
	/*padding: 0rem 0.24rem;*/
}
.ban>.imgbox>li{
	position: absolute;
	left: 0;
	top: 0;
}
.ban>.imgbox>li>a,.ban>.imgbox>li>a>img{
	float: left;
}
.btn{
	position: absolute;
	bottom: 0.48rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0.92rem;
	height: 0.06rem;
	display: flex;
	justify-content:space-between;
}
.btn>li{
	width:0.2rem;
	height:100%;
	border-radius:0.03rem;
	background-color: #d5d5d2;
}
.btn>li.hot{
	background: #F6AD20;
}






.sec{
	width: 100%;
	height: 3.47rem;
	padding: 0.24rem;
	/*background: #EDB316;*/
}
.sec ul{
	width: 100%;
	height: 100%;
	/*background-color: cadetblue;*/
	/*text-align: center;*/
}
.sec>ul>li{
	width: 20%;
	height: 1.475rem;
	float: left;
	text-align: center;
}
.sec>ul>li>a{
	width: 100%;
	height: 100%;
}
.sec>ul>li img{
	width: 0.94rem;
	height: 0.94rem;
	/*text-align: center;*/
}
.sec>ul>li p{
	font-size: 0.24rem;
	font-family: PingFang-SC-Bold;
	line-height: 0.1;
	color: #000000;
}







.bbtn{
	width: 100%;
	height: 0.05rem;
	margin-bottom: 0.24rem;
	/*background: blueviolet;*/
}
.bbtn>ul{
	width: 0.94rem;
	height: 100%;
	/*background: #000000;*/
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content:space-between;
}
.bbtn>ul>li{
	width: 0.35rem;
	height: 0.05rem;
	background: #D5D5D2;
	
}
.bbtn>ul>li.hot{
	background: #F6AD20;
}





.foot{
	width: 100%;
	height: 0.98rem;
	background-color:#d7d6d4;
	position: fixed;
	bottom: 0;
	left: 0;
}
.foot>ul{
	width: 100%;
	height: 0.98rem;
	text-align: center;
}
.foot>ul>li{
	float: left;
	width: 25%;
	height: 0.98rem;
}
.foot>ul>li a{
	display: block;
	width: 100%;
	height: 100%;
	/*text-align: center;*/
}
.foot>ul>li>a i{
	display: block;
	color: #515050;
	width: 0.38rem;
	height: 0.38rem;
	line-height: 0.38rem;
	margin:0 auto;
	margin-top: 0.08rem;
	}
.foot>ul>li>a .iconfont{
	font-size: 0.36rem;
}
.foot>ul>li>a>i.hot{
	color: darkorange;
}
.foot>ul>li p{
	font-size: 0.28rem;
	color:#515050;
	margin-top: 0.08rem;
}
.foot p.hot{
	color:#000000;
}



















.guang{
	width: 100%;
	height: 3.08rem;
	padding: 0rem 0.24rem;
	margin: 0.24rem 0rem;
}
.guang img{
	width: 100%;
	height: 3.08rem;
}


.fu{
	width: 100%;
	height: 0.36rem;
	padding-left: 0.24rem;
	margin-top:0.48rem;
}
.fu>h3{
	width: 1.6rem;
	line-height: 0.36rem;
	font-size: 0.36rem;
	height: 100%;
}
.pai{
	width: 100%;
	height: 0.24rem;
	padding: 0rem 0.24rem;
	margin: 0.24rem 0rem 0rem;
}
.conti{
	width: 100%;
	height: 0.24rem;
	/*background: #000000;*/
	display: flex;
	justify-content: space-between;
}
.conti>.aleft{
	width: 3.2rem;
	height: 0.24rem;
	/*background-color: #5F9EA0;*/
	display: flex;
	justify-content: space-between;
}
.conti>.aright{
	width: 0.86rem;
	height: 0.24rem;
	/*background-color: aqua;*/
}
.aleft>.aal{
	width:1.4rem;
	height: 100%;
}
.aal>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1;
	display: flex;
	justify-content: space-between;
}
.aleft>.aal>a>span{
	display: block;
    width: 1rem;
	height: 0.24rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.24rem;
	line-height: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #000000;
}
.aal>a>i .iconfont{
	font-size: 0.24rem;
	line-height: 0.24rem;
}
.aleft>a{
	display: block;
	width: 0.5rem;
	height: 0.24rem;
	color: #8c8a8a;
	font-size: 0.24rem;
	line-height: 0.24rem;
}
.aright>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1;
	display: flex;
	justify-content: space-between;
}
.aright>a>span{
	width: 0.56rem;
	height: 0.24rem;
	display: block;
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #8c8a8a;
}
.aright>a>i.iconfont{
	font-size: 0.22rem;
	line-height: 0.24rem;
	color: #8c8a8a;
}
.col{
	width: 100%;
	padding: 0rem 0.24rem;
	/*background-color: black;*/
	height: 0.4rem;
	margin-top: 0.2rem;
	display: flex;
	justify-content: space-between;
}
.col>a{
	display: block;
	width: 1.2rem;
	height: 0.4rem;
	font-size: 0.24rem;
	color: #020202;
	background-color: #dcdcdc;
	border-radius: 0.05rem;
	text-align: center;
}




.list{
	width: 100%;
	margin-top:0.24rem;
	padding: 0rem 0.24rem;
	margin-bottom: 0.98rem;
	/*overflow: hidden;*/
}
.list>.conner{
	width:100%;
	height: 10.5rem;
	overflow-y: auto;
	/*overflow:scroll;*/
	/*overflow: hidden;*/
	/*-ms-scroll-limit-y-max: auto;*/
}
.list>.conner::-webkit-scrollbar{
	display: none;
}
.list>.conner>.one{
	width: 100%;
	height: 2.22rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.24rem;
	/*background-color:red;*/
}
.one>.left{
	width:2.02rem;
	/*height:2.22rem;*/
}
.one>.left>a{
	display: block;
	width: 100%;
	height:100% ;
}
.one>.left>a img{
	width: 100%;
	height: 1.34rem;
}
.one>.right{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	/*width:5rem;*/
	/*height:2.22rem;*/
	padding-left:0.24rem;
}
.one>.right a{
	display: block;
	width: 100%;
	height: 0.24rem;
	font-size: 0.24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.24rem;
	color: #020202;
}
.one>.right>.xing{
	width: 100%;
	height: 0.18rem;
	margin-top: 0.24rem;
	display: flex;
	justify-content: space-between;
	/*background:pink;*/
}
.xileft{
	width: 2.5rem;
	display: flex;
	justify-content: space-between;
}
 .xing>.xileft>.s{
	width: 4rem;
}
.xing>.xileft>a>img{
	width: 1.08rem;
	height:0.16rem;
}
.xing>.xileft>a,.xing>.xiright>a{
	display: block;
	font-size: 0.18rem;
	color: #727070;
}
.right>.qi{
	height: 0.18rem;
	font-size: 0.18rem;
	color: #727070;
	margin-top: 0.24rem;
	width: 100%;
}
.cheng{
	width: 100%;
	height: 0.24rem;
}
.biao{
	width:1rem;
	display: flex;
	justify-content: space-between;
	margin-top: 0.24rem;
	/*margin-right: 5;*/
}
.cheng>.biao>a{
	display:block;
	font-size: 0.22rem;
	color: deepskyblue;
	margin-right: 0.1rem;
}
.cheng>.biao>span{
	display:block;
	font-size: 0.22rem;
	color: #727070;
	width: 1.6rem;
}
.big{
	width:2rem;
	height: 0.3rem;
	margin-top: 0.48rem;
	display: flex;
	justify-content: space-between;
	/*line-height: 0.22rem;*/
}
.big>.bigl{
	height: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	font-size: 0.2rem;
	color: #f71228;
	border:0.01rem solid #f71228;
	border-radius: 0.05rem;
}
.big>.bigr{
	height: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	font-size: 0.2rem;
	color: #f71228;
	border:0.01rem solid #f71228;
	border-radius: 0.05rem;
}
	